{
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "globals": {},
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "prettier/prettier": "error",
    "no-underscore-dangle": "off"
  }
}
